*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
  background-color: rgb(168, 87, 127 , 0.3);;
}

ul{
    list-style-type: none;
    overflow:hidden;
    padding:20px;
}


li a{
    line-height: 40px;;
    text-decoration: none;
    padding:5px;
    text-align: center;
   float: left;
    width:300px;
    font-size:19px;
    font-family: cursive;
    color:rgb(255, 255, 255);
}

li a:hover
    {
    text-shadow:5px 5px 4px rgb(124, 3, 63)
    
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;;
  border-radius: 100%;
}

h1{
  text-align: center;
  font-size: 50px;;
  font-family: cursive;
  margin-top: 0;
  margin-bottom: 0;;
}

.mail
{
  text-align: center;
  font-size: x-large;
  margin-bottom: 50px;;
  text-decoration: none;
  color:rgb(31, 29, 29);
}

a{
  color:rgb(26, 138, 153);
  text-decoration: none;
}

a:hover
{
  text-shadow: 2px 2px 5px rgb(226, 43, 83);
}

